.wrapper {
  background: linear-gradient(
    315deg,
    var(--light-primary-color) 0%,
    var(--primary-color) 74%
  );
  color: var(--dark-secondary-color);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 5;
}
.wrapper__title {
  font-style: italic;
  color: var(--complimentary-text-color);
}
.nav__list {
  font-weight: 600;
}
.nav__list i {
  font-size: 1.5rem;
  color: var(--dark-secondary-color);
}
.wrapper .badge__number {
  height: 1.2rem;
  width: 1.2rem;
}
.nav__search-bar {
  margin-right: 1rem;
  width: 25rem;
}
.nav__search-bar .input {
  width: 100%;
}
