.wrapper {
  background: linear-gradient(
    315deg,
    var(--light-primary-color) 0%,
    var(--primary-color) 74%
  );
  color: var(--dark-secondary-color);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 5;
  overflow: hidden;
}
.wrapper__title {
  font-style: italic;
  color: var(--complimentary-text-color);
}
.nav__list {
  font-weight: 600;
}
.nav__list i {
  font-size: 1.5rem;
  color: var(--dark-secondary-color);
}
.wrapper .badge__number {
  height: 1.2rem;
  width: 1.2rem;
}
.nav__search-bar {
  width: 20rem;
}
.nav__search-bar .input {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .nav__search-bar {
    width: min(12rem, 100%);
  }
}

@media screen and (max-width: 625px) {
  .nav__search-bar {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 1rem;
  }
  .wrapper__title {
    font-size: 1.2rem;
  }
  .nav__list {
    gap: 1rem;
  }
}
